---
---

@import "{{ site.theme }}";

  .markdown-body pre.lines {
   display:none;
 }
 .markdown-body pre.highlight {
  margin-left: auto;
  padding-left: 10px;
  color: #000000;
  background-color:initial;
  box-shadow: none;
 }
